<% if index.odd? %>
	<div id = "comment1">
		<h6 id = "commentheader"> <%=comment.user.email%>:</h6>
			<p id = "commentbody1"> <%= comment.content %></p>
				<%= button_to "Like!", like_comment_path(id: comment), :class => "button tiny", :id => "commentLike", :method => :patch %>
			<p id = "commentliketotal"> <%= comment.like %> likes </p>
	</div>
<% else %>
	<div id = "comment2">
		<h6 id = "commentheader"> <%=comment.user.email%>:</h6>
			<p id = "commentbody2"> 
				<%= comment.content %>
			</p>
				<%= button_to "Like!", like_comment_path(id: comment), :class => "button tiny", :id => "commentLike", :method => :patch %>
			<p id = "commentliketotal">	
				<%= comment.like %> likes
			 </p>

	</div>
<% end %>
