<h3> <%= @post.title %> </h3>



<div class = "in-page-post">	
	<p> <%= @post.text %> </p>
	<p class = "country"> Location: <%= @post.place %> <br>
    <%= @post.created_at.strftime("%d %b. %Y") %> <br>
    User: <%= @post.user.email %> </p>
</div>


<%= link_to "Post Comment", comments_new_path(:checkpost => @post), :class => "button small" %>

<h4>Comments</h4>

<% @post.comments.each do |x| %>
	<%= render "comments/comment", :comment => x %>
<% end %>

<% if current_user == @post.user %>
  <%= button_to "Delete Post", post_path(@post), :class => "button tiny", :id => "buttondestroy", :method => :delete %>
<% end %>
